.about {
    margin-top: 136px;

    .container {
        background-image: url(../../img/our.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1111px;
        width: 100%;
        height: 196px;
    }
}

.about__list {
    display: flex;
    transform: translateY(126px);
}

.about__item {
    margin-left: -60px;
}

.about__item + .about__item {
    margin-left: 30px;
}

.about__image {
    width: 255px;
}

.about__heading {
    margin: 0;
    padding: 0;
    color: var(--color-GreyBlue);
    font-family: "Fraunces";
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    max-width: 255px;
    width: 100%;
}

.about__text {
    margin: 0;
    padding: 0;
    color: var(--color-GreyBlue);
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    max-width: 255px;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .about .container {
        background-image: url(../../img/our.png);
        background-repeat: no-repeat;
        height: 600px;
    }
}